$attWidth: 400px;

#headerBoard{
    background: rgba(0,0,0,0.5);
    white-space: nowrap;
    display: flex;
    position: fixed;
    width: 100%;
    h1{
        margin: 10px;
    }
}

body{
    margin: 0;
}

.data{
    padding: 5px;
    padding-top: 58px;
    display: grid;
    grid-template-columns: 1fr $attWidth + 20px;
    grid-template-areas: 'main attachments';
    @media (max-width: 1000px){
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
          "main"
          "attachments";
    }
}

h1{
    font-family: 'Montserrat';
}

.cardLabel{
    margin: 0px 1px 5px;
    color: white;
    font-size: 80%;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    font-weight: bold;
    border-radius: 2px;
    padding: 3px 8px;
    display: inline-block;
    min-width: 30px;
    min-height: 15px;
    text-align: center;
}

.attContainer{
    position: relative;
    grid-area: attachments;
    overflow-y: scroll;
    width: $attWidth + 20px;
    height: 90vh;
    .att{
        display: flex;
        width: $attWidth;
        height: $attWidth * 9 / 16;
        overflow: hidden;
        margin-bottom: 10px;
        .attControl{
            display: grid;
            background: rgba(60,60,60,0.85);
            width: $attWidth;
            transition:  height 0.5s;
            height: 20%;
            margin-top: auto;
            z-index: 1;
            .attUpperBar{
                display: flex;
                .attDate{
                    transition: opacity 0.5s;
                    opacity: 0;
                    color: #999;
                    font-size: 80%;
                    margin-left: auto;
                    padding: 5px;
                    min-width: 95px;
                }
                .attName{
                    transition: font-size 0.5s, margin-bottom 0.5s, max-width 0.5s, height 0.5s;
                    margin-top: 5px;
                    text-overflow: ellipsis;
                    max-width: 380px;
                    overflow: hidden;
                    font-family: 'Montserrat';
                    color: white;
                    margin-left: 10px;
                    font-size: 22px;
                    margin-bottom: 10px;
                    height: 25px;
                }
            }
            .attButtonBar{
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 3fr 3fr 2fr;
                height: 35px;
                margin-top: auto;
                width: $attWidth;
                .attIcon {
                    margin: 0 5px;
                }
                button{
                    color: white;
                    background: none;
                    border: none;
                    font-size: 16px;
                    font-family: 'Roboto';
                    outline: none;
                }
            }
        }
        &:hover{
            .attControl{
                height: 30%;
            }
            .attUpperBar{
                .attName{
                    font-size: 12px;
                    max-width: 280px;
                    height: 30px;
                    margin-bottom: 0px;
                }
                .attDate{
                    opacity: 1;
                }
            }
        }
        img{
            position: absolute;
            object-fit: cover;
            width: $attWidth;
            max-height: $attWidth * 9 / 16;
        }
    }
}

.mainColumn{
    grid-area: main;
    width: 100%;
}

.dueLabel{
    padding: 0px 4px;
    border-radius: 1px;
}

.cardName{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 32px;
    overflow-wrap: break-word;
    resize: none;
    overflow: hidden;
    width: 100%;
    border: none;
    outline: none;
}

.cardName:focus {
    border-bottom: 2px solid gray;
    margin-bottom: -2px;
}

.desc {
    resize: none;
    width: 100%;
    overflow: hidden;
    border: none;
    outline: none;
    font-family: $font-stack;
    font-size: 16px;
}

.dueLabel{
    display: inline-block;
    padding: 4px 5px;
}

.checkListItem{
    font-family: $font-stack;
    outline: none;
    resize: none;
    border: none;
    width: calc(30% - 40px);
}
.bar{
    height: 100%;
    background-color: #2B2;
}
.barContainer{
    width: 60%;
    height: 10px;
    border-radius: 2px;
    background-color: #BBB;
}