$font-stack: 'Roboto', 'Arial', sans-serif;

@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-SemiBold.ttf);
    font-weight: 700;
}

body{
    font-family: $font-stack;
    margin: 0px;
}

.button{
    font-family: $font-stack;
    background-color: #fff;
    border: 0px none #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.325);
}

.buttonHeader{
    background: rgba(0,0,0,0);
    border: 0;
    margin: 4px;
    i{
        color: white;
    }
    box-shadow: none;
    &:focus, &:active{
        outline: none;
    }
}

.titleHeader{
	font-family: 'Montserrat';
	font-weight: bold;
	background: rgba(0,0,0,0.5);
	color: white;
	margin: 0;
	padding: 10px;
	display: flex;
	h1{
		font-size: 44px;
		margin: 0;
	}
}