$font-stack: 'RobotoSlab', 'Arial', sans-serif;

@font-face {
    font-family: RobotoSlab;
    src: url(RobotoSlab-Regular.ttf);
}

body{
    font-family: $font-stack;
}

.button{
    font-family: $font-stack;
    background-color: #fff;
    border: 0px none #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.325);
}
