//chrome currently (chromium 56 -61) cannot render backdrop blur properly with box shadow
$useblur: false; //so far broken as fuck
$shadow: 0px 5px 10px rgba(0,0,0,0.125);
$blur: if($useblur, blur(30px), none);

@keyframes fadeIn {
    from {background-color: rgba(255,255,255,0.5);}
    to {background-color: rgba(255,255,255,0.75);}
}
@keyframes fadeOut {
    from {background-color: rgba(255,255,255,0.75);}
    to {background-color: rgba(255,255,255,0.5);}
}

.boardRoot{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 58px;
    height: calc(100vh - 80px);
    .listComponent{
        margin: 5px;
        background: rgba(180,180,180,0.5);
        box-shadow: $shadow;
        border-radius: 3px;
        width: 320px;
        flex: none;
        vertical-align: top;
        padding: 5px;
        backdrop-filter: $blur;
        .listTitle{
            resize: none;
            margin: 10px 2px;
            width: 100%;
            background: none;
            border: none;
            outline: none;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Roboto';
        }
        .cardContainer{
            min-height: 10px;
            overflow-y: auto;
            max-height: calc(100vh - 165px);
            .cardComponent{
                background: rgba(255,255,255,0.5);
                margin-bottom: 5px;
                box-shadow: $shadow;
                padding: 5px;
                animation-name: fadeOut;
                animation-duration: 0.1s;
                .imgCover{
                    max-width: 100%;
                    max-height: 200px;
                    margin: 0 auto;
                    display: inherit;
                }
                .cardLabel{
                    margin: 0px 1px 5px;
                    color: white;
                    font-size: 66%;
                    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
                    font-weight: bold;
                    border-radius: 2px;
                    padding: 1.5px 4px;
                    display: inline-block;
                    min-width: 20px;
                    min-height: 5px;
                }
                .cardTitle{
                    overflow-wrap: break-word;
                    margin: 2px 5px;
                }
                .cardInfo{
                    display: flex;
                    div{
                        margin: 0px 5px;
                        i{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .cardComponent:hover, .addListButton:hover, .addCardButton:hover {
            animation-name: fadeIn;
            animation-duration: 0.1s;
            background-color: rgba(255,255,255,0.75);
        }
        .addListButton, .addCardButton{
            padding: 5px;
            background: rgba(255,255,255,0.5);
            animation-name: fadeOut;
            animation-duration: 0.1s;
            border: 0;
            margin: 0 auto;
            width: 100%;
        }
        .addCardInputContainer{
            padding: 5px;
            background: rgba(255,255,255,0.5);
        }
        .addableInput{
            resize: none;
            border: none;
            outline: none;
            font-family: 'Roboto';
            &.card{
                width: 300px;
                font-size: 100%;
                background: none;
                &:focus{
                    border-bottom: 2px solid black;
                }
            }
            &.list{
                width: 316px;
                background: none;
                font-size: 18px;
                font-weight: bold;
                margin: 10px 2px;
                &:focus{
                    border-bottom: 2px solid black;
                }
            }
        }
        .cardContainer::-webkit-scrollbar {
            display: none;
        }
    }
}

#headerBoard{
    background: rgba(0,0,0,0.5);
    white-space: nowrap;
    display: flex;
    position: fixed;
    width: 100%;
    backdrop-filter: $blur;
    #boardName{
        margin: 10px;
        color: white;
        font-family: 'Montserrat';
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 20px;
        background: none;
        border: none;
        font-weight: bold;
        font-size: 30px;
        outline: none;
        width: 100%;
    }
}
button.button.header{
    background: rgba(0,0,0,0);
    border: 0;
    margin: 4px;
    i{
        color: white;
    }
    box-shadow: none;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.cardGhost{
    opacity: 0.5;
}
