.dueLabel, .checkFull{
    padding: 1px 5px;
    border-radius: 1px;
}
.dueOverdue {
    background-color: #ea7979;
    color: white;
}
.dueOverdueNear {
    background-color: #b43c27;
    color: white;
}
.dueComplete, .checkFull {
    background-color: #a1ca30;
    color: white;
}
.dueNear {
    background-color: #ffc525;
    color: white;
}