#headerBoard{
    background: rgba(0,0,0,0.5);
    white-space: nowrap;
    display: flex;
    position: fixed;
    width: 100%;
    h1{
        margin: 10px;
    }
}

body{
    margin: 0;
}

.data{
    padding: 5px;
    padding-top: 58px;
    display: grid;
    grid-template-columns: 1fr 480px;
    grid-template-areas: 'main attachments';
    @media (max-width: 1000px){
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
          "main"
          "attachments";
    }
}

h1{
    font-family: 'Montserrat';
}

.cardLabel{
    margin: 0px 1px 5px;
    color: white;
    font-size: 80%;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    font-weight: bold;
    border-radius: 2px;
    padding: 3px 8px;
    display: inline-block;
    min-width: 30px;
    min-height: 15px;
    text-align: center;
}

.attContainer{
    grid-area: attachments;
    overflow-y: auto;
    width: 100%;
    .att{
        display: flex;
        .attControl{
            .attDate{
                color: #999;
                font-size: 80%;
            }
        }
        img{
            max-width: 120px;
            max-height: 120px;
            margin-left: auto;
        }
    }
}

.mainColumn{
    grid-area: main;
    width: 100%;
}

.dueLabel{
    padding: 0px 4px;
    border-radius: 1px;
}

.attButtonBar{
    display: flex;
}

.cardName{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 32px;
    overflow-wrap: break-word;
    resize: none;
    overflow: hidden;
    width: 100%;
    border: none;
    outline: none;
}

.cardName:focus {
    border-bottom: 2px solid gray;
    margin-bottom: -2px;
}

.desc {
    resize: none;
    width: 100%;
    overflow: hidden;
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-size: 16px;
}

.dueLabel{
    display: inline-block;
    padding: 4px 5px;
}

.checkListItem{
    font-family: 'Roboto';
    outline: none;
    resize: none;
    border: none;
    width: calc(30% - 40px);
}
.bar{
    height: 100%;
    background-color: #2B2;
}
.barContainer{
    width: 60%;
    height: 10px;
    border-radius: 2px;
    background-color: #BBB;
}